body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
  }
  
  #header{
	  background-image: url('./components/Home/Design_MainPage/Layer2.jpg');
	  background-repeat: no-repeat;
	  background-size: 100%;
	  height: 650px;
	  width: 100%;
	  z-index: 1;
  }
  .logo{
	  margin-left: 7px;
  }
  #logo{
	  position: relative;
	  float: left;
	  width: 50px;
  }
  .links-part{
	  display: inline-block;
	  margin-top: 6px;
  }
  .sticky {
	position: fixed;
	top: 0;
	width: 100%
  }
  #menubar{
	  width: 100%;
	  height: 50px;
	  display: inline-block;
	  text-align: right;
	  padding: 6px;
	  background: rgba(0,0,0,.5);
  }
  .links-content{
	  margin-right: 35px;
  }
  #login-title{
	  text-align: center!important;
	  font-size: 26px;
	  margin-bottom: 15px;
  }
  #button{
	  border:1px solid #7563D1;
	  border-radius: 4px;
  }
  #menubar a.links{
	  margin: 5px;
	  padding: 15px;
	  display: inline;
	  color: white;
	  font-size: 14px;
  }

  #menubar a.links:hover {
	  text-decoration: none;
	  color: #5c4dff;
	  cursor: pointer;
  }
  #text{
	  width: 40%;
	  text-align: center;
	  margin:auto;
	  position: relative;
	  top: 25%;
	  color: white;
	  font-size: 20px; 
  }
  #firstText{
	  font-size: 12px;
  }
  h1{
	  font-size: 30px;
  }
  #div1{
	  background:linear-gradient(90deg, #6437C8, #0271FE);
	  height: 200px;
	  width: 50%;
	  transform: skewY(5deg);
	  float: left;
	  position: relative;
	  top: -50px;
  }
  #div2{
	  background:linear-gradient(90deg, #0271FE, #6437C8);
	  height: 200px;
	  width: 50%;
	  transform: skewY(-5deg);
	  float: right;
	  position: relative;
	  top: -50px;
  }
  .shieldsLeft{	
	  transform: skewY(-5deg);
  }
  #shield1{
	  position: relative;
	  width: 100%;
	  height: 100%;
	  float: left;
  }
  #img1{
	  position: relative;
	  width: 20%;
	  bottom: 10%;
	  left: 35%;
  }
  #img1:hover{
	width: 25%;
	left: 33%;
  }
  #shield2{
	  position: relative;
	  width: 100%;
	  height: 100%;
  }
  #img2{
	  position: relative;
	  width: 20%;
	  bottom: 100%;
	  left: 70%;
  }
  #img2:hover{
	width: 25%;
	left: 68%;
  }
  .shieldsRight{
	  transform: skewY(5deg);
  }	
  #shield3{
	position: relative;
	width: 100%;
	height: 100%;
}
  #img3{
	  position: relative;
	  width: 20%;
	  left: 12%;
  }
  #img3:hover{
	width: 25%;
	left: 10%;
  }
  #shield4{
	  position: relative;
	  width: 100%;
	  height: 100%;

  }
  #img4{
	  position: relative;
	  width: 20%;
	  left: 47%;
	  bottom: 110%;
  }
  #img4:hover{
	width: 25%;
	left: 45%;
  }
  #div3{
	  background-image: url('./components/Home/Design_MainPage/Layer3.jpg');
	  background-size: 100%;
	  background-repeat: no-repeat; 
	  width: 100%;
	  height: 900px;
  }
  #div4{
	  position: relative;
	  background-image: url('./components/Home/Design_MainPage/camera1.jpg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 640px;
  }
  #container2{
	  position: relative;
	  z-index: -1;
  }
  #footer{
	  background-color: black;
	  width: 100%;
	  height: 100px;
	  opacity: 0.8;
	  position: relative;
  }
  #footer .panel{
	  padding: 35px;
	  color: white;
	  text-align: center;
	  bottom: 0;
  }
  #sectionText{
	  position: relative;
	  width: 35%;
	  float: right;
	  color: white;
	  text-align: center;
	  margin: 0 auto;
	  top: 20%;
	  right: 5%;
  }

  div.invalid-feedback{
	  display: block;
  }
/* Loader */
.loader-content{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/* Loader End*/

/* MEDIA */

@media screen and (min-width: 320px) and (max-width: 560px) {
	div.sign-up-body{
		width: 300px;
	}
}