.admin-container {
    background-image: url(/img/admin-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    position: relative;
}
.admin-content{
    min-height: 100vh;
}

/* MEDIA */
@media screen and (min-width: 500px) and (max-width: 600px) {
    .form1 .key_button {
        font-size: 18px;
        width: 100%;
    }
    .form1 .form_input1 {
        width: 255px;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    .form1 .key_button {
        font-size: 18px;
        width: 100%;
    }
    .form1 .form_input1 {
        width: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
    .form1 .key_button {
        font-size: 18px;
        width: 100%;
    }
    .form1 .form_input1 {
        width: 245px;
    }
    .admin-content .app1 {
        width: 98%;
        margin-left: 1%;
    }
}